/* ======================= Shared ======================= */
.agree {
    margin: 10px 5px 0 5px;
}

.agree label {
    cursor: pointer;
}

#gig-creator-signup-form {
    display: none;
}

/* ======================= Confirm Email ======================= */
#resend-code {
    margin-top: 5px;
}

#change-email-toggle {
    display: block !important;
    margin: 20px auto !important;
}

#change-email-form {
    display: none;
}

/* ===================== Responsive ===================== */
@media only screen and (max-width: 985px) {
    .container {
        width: 85%;
    }

    .container h1 {
        font-size: 27px;
    }
}

@media only screen and (max-width: 645px) {
    .container {
        width: 93%;
    }

    .container h1 {
        font-size: 25px;
    }
}