.inner {
    display: flex;
}

.main {
    flex-basis: 70%;
    padding-right: 30px;
}

.main .gig-title-label {
    display: none;
}

input[type=text],
input[type=number],
textarea {
    display: none;
}

#update-gig {
    display: none;
}

select {
    display: none !important;
}

select.show {
    display: inline-block !important;
}

#gig-details-form #address {
    display: none !important;
}

#gig-details-form #address.show {
    display: block !important;
}

#gig-details-form #edit-btn {
    display: none;
}

#gig-details-form #close-gig-btn {
    display: none;
}

#gig-details-form #expired-preview,
#gig-details-form #closed-preview {
    background-color: rgb(175, 175, 175);
}

.side {
    flex-basis: 30%;
    text-align: center;
}

.side #view-applicants {
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 60px;
    outline: none;
    margin-top: 20px;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--extra-color);
    background-color: var(--primary-color);
    transition: background-color 0.3s ease;
}

.side #view-applicants:hover {
    background-color: var(--secondary-color);
}

.side #gig-notice {
    display: none;
    margin: 15px 0;
}