.tagline {
    text-align: center;
    font-weight: 300;
    font-size: 35px;
}

.tagline span {
    font-weight: 1000;
    color: var(--secondary-color);
}

#search-gig-form {
    border-radius: 60px;
    border: 1px solid var(--special-gray);
    color: var(--primary-color);
    margin: 30px 0;
    display: flex;
    align-items: center;
}

#search-gig-form:focus-within {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

#search-gig-form i {
    color: #d6d6d6;
    margin-left: 25px;
}

#search-gig-form #search-gig {
    flex: 1;
    border: none;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
}

#search-gig-form:focus-within i {
    color: var(--primary-color);
}

.gig-list {
    margin: 20px 0;
}

.gig-item h3 {
    flex: 2;
}

/* ===================== Responsive ===================== */
@media only screen and (max-width: 985px) {
    .container {
        width: 85%;
    }

    .tagline {
        font-size: 30px;
    }
}

@media only screen and (max-width: 645px) {
    .container {
        width: 93%;
    }

    .tagline {
        font-size: 25px;
    }

    .gig-item {
        flex-direction: column;
        border-radius: 20px;
    }

    .gig-item > * {
        margin-top: 15px;
    }

    .gig-item h3 {
        margin-top: 0;
    }
}