#post-gig-form #address { 
    display: none;
}

#post-gig-form #paypal-button-container {
    margin-top: 20px;
}

/* ===================== Responsive ===================== */
@media only screen and (max-width: 985px) {
    .container {
        width: 85%;
    }
}

@media only screen and (max-width: 645px) {
    .container {
        width: 93%;
    }
}