/* ------------------- Shared ------------------- */
.container {
    display: flex;
}

.left {
    flex-basis: 30%;
    padding: 0 20px;
    text-align: center;
}

.left #profile-image {
    width: 250px;
    height: 250px;
    border: 1px solid var(--special-gray);
    border-radius: 100%;
    object-fit: cover;
}

.left #change-photo-form {
    display: none;
}

.left #change-photo-btn {
    margin: 10px 0 20px 0;
}

.left #save-profile-image {
    margin-top: 5px;
}

.left p {
    font-size: 17px;
    margin: 10px 0;
}

.left .input-help {
    font-size: 14px;
    margin: 0;
}

.left #edit-profile-form .input-label,
.left #edit-profile-form input {
    display: none;
}

.main {
    flex-basis: 70%;
}

.top-nav {
    list-style-type: none;
    border-bottom: 1px solid var(--special-gray);
}

.top-nav li {
    display: inline-block;
    margin-right: 40px;
    padding: 0 10px 20px 10px;
    cursor: pointer;
}

.top-nav li:hover,
.top-nav li.active {
    border-bottom: 1px solid var(--primary-color);
}

textarea {
    display: none;
}

.main input[type=submit] {
    display: none;
}

/* ------------------- Student (Profile) ------------------- */
/* .about-me {
    display: none;
} */

.about-me #work-exp-label,
.about-me #certs-label {
    display: none;
}

.applied-gigs {
    display: none;
    padding: 20px 0;
}

/* .gig-item * {
    flex: 1;
} */

.gig-item:hover {
    border: none;
}

.gig-item button,
#pending-preview,
#accepted-preview {
    margin: 0 15px;
    width: auto;
}

.gig-item .with-actions {
    padding: 0 10px;
    text-align: center;
}

.gig-item .with-actions a {
    color: var(--primary-color);
}

.gig-item #accept-invite-btn {
    display: none;
}

.gig-item #accepted-preview {
    display: none;
    background-color: var(--secondary-color);
}

.gig-item #view-chat-btn {
    /* display: none; */
}

.hired-gigs {
    display: none;
    padding: 20px 0;
}

/* ------------------- Gig Creator (Profile) ------------------- */
.active-gigs {
    padding: 20px 0;
}

.active-gigs .gig-item:hover {
    border: 1px solid var(--primary-color);
}

.closed-gigs {
    display: none;
    padding: 20px 0;
}

.closed-gigs .gig-item:hover {
    border: 1px solid var(--primary-color);
}

/* ================================= Modal ================================= */
#chat-modal {
	padding-top: 20vh;
}

#chat-modal .modal-footer #message {
	min-height: 60px;
}

#chat-modal .modal-footer #send-message {
	margin: 0;
}

#chat-modal .modal-footer #send-message:hover {
	background-color: var(--tertiary-color);
}

#chat-modal #message-err {
	margin: 0 0 10px 0;
	color: var(--extra-color);
}

#chat-modal .message-list {
	height: 300px;
	overflow-y: auto;
}