@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --primary-color: #243642;
    --secondary-color: #387478;
    --tertiary-color: #629584;
    --extra-color: #E2F1E7;
    --special-gray: #D6D6D6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input, button, textarea, select {
    /* Weight: 100 – 1000 */
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
}

::selection {
    color: var(--extra-color);
    background-color: var(--primary-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

nav .website-logo {
    /* to remove extra space below <img> */
    display: block;
    width: 120px;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-left: 5px;
}

nav li a {
    text-decoration: none;
    padding: 5px 15px;
    color: var(--secondary-color);
    background-color: white;
    border-radius: 60px;
    transition: color 0.3s ease, background-color 0.3s;
}

nav li a:hover,
nav .active {
    color: var(--extra-color);
    background-color: var(--secondary-color);
}

nav .special-link {
    color: var(--extra-color);
    background-color: var(--primary-color);
}

.container {
    width: 70%;
    margin: 0 auto;
    padding: 30px 0;
}

.input-label {
    margin-top: 15px;
}

input, select, button {
    width: 100%;
    margin: 7px 0;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 60px;
    outline: none;
    color: var(--primary-color);
    border: 1px solid var(--special-gray);
}

select {
    appearance: none;
    cursor: pointer;
}

textarea {
    width: 100%;
    margin: 7px 0;
    padding: 15px 20px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 20px;
    min-height: 120px;
    outline: none;
    overflow: hidden;
    resize: none;
    color: var(--primary-color);
    border: 1px solid var(--special-gray);
}

input:focus, textarea:focus {
    border: 1px solid var(--primary-color);
}

.input-help {
    font-size: 14px;
    color: red;
    margin-left: 5px;
}

.short-input, .short-select {
    width: auto;
    display: inline-block;
    vertical-align: middle;
}

input[type=submit], button {
    margin-top: 20px;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--extra-color);
    background-color: var(--primary-color);
    transition: background-color 0.3s ease;
}

input[type=submit]:hover, button:hover {
    background-color: var(--secondary-color);
}

.content {
    margin: 7px 0;
    line-height: 1.5;
    font-size: 17px;
    white-space: pre-wrap;
}

.outline-btn {
    background-color: white !important;
    color: var(--primary-color) m !important;
    border: 1px solid var(--primary-color) !important;
}

.outline-btn:hover {
    border: none !important;
    background-color: var(--secondary-color) !important;
    color: var(--extra-color) !important;
}

.back-btn {
    width: auto;
    color: var(--special-gray);
    background: none;
    padding: 10px 0;
    font-size: 15px;
    color: var(--secondary-color);
}

.back-btn:hover {
    background: none;
    color: var(--primary-color);
}

/* ---------------------------- SPINNER ---------------------------- */
#loader {
    display: none;
    margin-top: 10px;
}

.spinner {
    border: 4px solid var(--extra-color);
    border-top: 4px solid var(--secondary-color);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin:  0 auto;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}