@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --primary-color: #243642;
    --secondary-color: #387478;
    --tertiary-color: #629584;
    --extra-color: #e2f1e7;
    --special-gray: #d6d6d6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
input,
button,
textarea,
select {
    /* Weight: 100 – 1000 */
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
}

img,
input[type=submit],
button {
    user-select: none;
}

input[type=checkbox] {
    width: auto;
    vertical-align: middle;
    margin-right: 5px;
    cursor: pointer;
}

input[type=date] {
    cursor: text;
}

a {
    color: var(--primary-color);
}

::selection {
    color: var(--extra-color);
    background-color: var(--primary-color);
}

nav {
    position: relative; /* for responsive */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

nav .website-logo {
    /* to remove extra space below <img> */
    display: block;
    width: 120px;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-left: 5px;
}

nav li a {
    text-decoration: none;
    padding: 5px 15px;
    color: var(--secondary-color);
    background-color: white;
    border-radius: 60px;
    transition: color 0.3s ease, background-color 0.3s;
}

nav li a:hover {
    color: var(--extra-color);
    background-color: var(--secondary-color);
}

nav .special-link {
    color: var(--extra-color);
    background-color: var(--primary-color);
}

nav #logout-btn {
    margin: 0 !important;
    padding: 5px 15px !important;
    text-decoration: none;
}

nav #logout-btn:hover {
    color: var(--extra-color) !important;
    background-color: var(--secondary-color) !important;
}

.container {
    width: 70%;
    margin: 0 auto;
    padding: 30px 0;
}

.input-label {
    margin-top: 15px;
}

input,
select,
button {
    width: 100%;
    margin: 7px 0;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 60px;
    outline: none;
    color: var(--primary-color);
    border: 1px solid var(--special-gray);
}

select {
    appearance: none;
    cursor: pointer;
}

textarea {
    width: 100%;
    margin: 7px 0;
    padding: 15px 20px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 20px;
    min-height: 120px;
    outline: none;
    overflow: hidden;
    resize: none;
    color: var(--primary-color);
    border: 1px solid var(--special-gray);
}

input:focus,
textarea:focus {
    border: 1px solid var(--primary-color);
}

.input-help {
    font-size: 14px;
    color: red;
    margin-left: 5px;
}

.short-input,
.short-select {
    width: auto;
    display: inline-block;
    vertical-align: middle;
}

input[type=submit],
button {
    margin-top: 20px;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--extra-color);
    background-color: var(--primary-color);
    transition: background-color 0.3s ease;
}

input[type=submit]:hover,
button:hover {
    background-color: var(--secondary-color);
}

input[type=file] {
    cursor: pointer;
}

.content {
    margin: 7px 0;
    line-height: 1.5;
    font-size: 17px;
    white-space: pre-wrap;
}

.outline-btn {
    background-color: white !important;
    color: var(--primary-color) !important;
    border: 1px solid var(--primary-color) !important;
}

.outline-btn:hover {
    border: none !important;
    background-color: var(--secondary-color) !important;
    color: var(--extra-color) !important;
}

.text-btn {
    width: auto;
    background-color: transparent !important;
    color: var(--primary-color) !important;
    text-decoration: underline;
    border: none;
    padding: 0;
}

.back-btn {
    width: auto;
    color: var(--special-gray);
    background: none;
    padding: 10px 0;
    margin-top: 0;
    font-size: 15px;
    color: var(--secondary-color);
}

.back-btn:hover {
    background: none !important;
    color: var(--primary-color);
}

.gig-item {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 60px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 15px;
}

.gig-item:hover {
    border: 1px solid var(--primary-color);
}

.gig-item h3,
.gig-item p,
.gig-item div {
    flex: 1;
    text-align: center;
}

.gig-item .gig-title {
    color: var(--primary-color);
    text-align: left;
}

.gig-item i {
    color: var(--primary-color);
}

.disabled-preview {
    display: none;
    width: 100%;
    margin: 20px 0 7px 0;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 60px;
    outline: none;
    text-align: center;
    color: var(--extra-color);
    background-color: var(--tertiary-color);
}

.note-text {
    color: #888;
    margin: 5px;
}

/* ---------------------------- SPINNER ---------------------------- */
#loader {
    display: none;
    margin-top: 10px;
}

.spinner {
    border: 4px solid var(--extra-color);
    border-top: 4px solid var(--secondary-color);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ============================= Modal ============================= */
/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 30vh;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: #000;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    border-radius: 20px;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

/* The Close Button */
.close {
    color: var(--extra-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.close:hover,
.close:focus {
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 10px 16px;
    background-color: var(--secondary-color);
    color: white;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.modal-body {
    padding: 1px 16px;
    text-align: center;
}

.modal-body p {
    margin: 5px 0;
}

.modal-footer {
    padding: 10px 16px;
    background-color: var(--secondary-color);
    color: white;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

/* ===================== Responsive ===================== */
nav #mobile-toggle {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    color: var(--primary-color);
    margin: 28px 20px;
}

@media only screen and (max-width: 970px) {
    .container, .modal-content {
        width: 85%;
    }
}

@media only screen and (max-width: 645px) {
    .container, .modal-content {
        width: 93%;
    }
}

@media only screen and (max-width: 530px) {
    nav {
        flex-direction: column;
    }

    nav li {
        display: block;
        text-align: center;
        margin: 20px 0 0 0;
    }

    nav #mobile-toggle {
        display: block;
    }

    nav ul {
        display: none;
    }

    nav ul.show {
        display: block;
    }

    .modal {
        padding-top: 6vh !important;
    }
}

@media only screen and (max-width: 400px) {
    .modal {
        padding-top: 10px !important;
    }
}