.applicant-item {
	text-decoration: none;
	color: inherit;
	padding: 15px 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 60px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	margin-bottom: 15px;
}

.applicant-item * {
	flex: 1;
}

.applicant-item:hover {
	border: none;
}

.applicant-item a {
	display: inline-block;
	color: var(--secondary-color);
}

.applicant-item button {
	width: auto;
	margin: 0 0 0 20px;
}

.applicant-item .applicant-name {
	color: var(--primary-color);
}

.disabled-preview {
	width: fit-content;
	margin: 0 15px;
}

/* ================================= Modal ================================= */
#chat-modal {
	padding-top: 15vh;
}

#chat-modal .modal-footer #message {
	min-height: 60px;
}

#chat-modal .modal-footer #send-message {
	margin: 0;
}

#chat-modal .modal-footer #send-message:hover {
	background-color: var(--tertiary-color);
}

#chat-modal #message-err {
	margin: 0 0 10px 0;
	color: var(--extra-color);
}

#chat-modal .message-list {
	height: 300px;
	padding-right: 10px;
	overflow-y: auto;
	position: relative;
}

#chat-modal .message-list p {
	display: block;
	width: fit-content;
	border-radius: 60px;
	padding: 10px 15px;
	margin: 10px 0;
	clear: both;
}

#chat-modal .message-list .msg-right {
	float: right;
	background-color: rgb(231, 242, 252);
}

#chat-modal .message-list .msg-left {
	float: left;
	background-color: rgb(226, 235, 241);
}

#loader {
	position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}