.applicant-item {
	text-decoration: none;
	color: inherit;
	padding: 15px 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 60px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	margin-bottom: 15px;
}

.applicant-item * {
	flex: 1;
}

.applicant-item:hover {
	border: none;
}

.applicant-item a {
	display: inline-block;
	color: var(--secondary-color);
}

.applicant-item button {
	width: auto;
	margin: 0 0 0 20px;
}

.applicant-item .applicant-name {
	color: var(--primary-color);
}

.disabled-preview {
	width: fit-content;
	margin: 0 15px;
}

/* ================================= Modal ================================= */
#chat-modal {
	padding-top: 20vh;
}

#chat-modal .modal-footer #message {
	min-height: 60px;
}

#chat-modal .modal-footer #send-message {
	margin: 0;
}

#chat-modal .modal-footer #send-message:hover {
	background-color: var(--tertiary-color);
}

#chat-modal #message-err {
	margin: 0 0 10px 0;
	color: var(--extra-color);
}

#chat-modal .message-list {
	height: 300px;
	overflow-y: auto;
}